<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<section layout:fragment="contents" class="contents p-5 mb-5">
	
		<div class="container py-5 pick-section">
		
	        <div class="text-center mb-5">
	            <h1 class="font-weight-bold">관리자 회원가입</h1>
	            <p class="text-muted">고객들에게 더 좋은 숙소를 제공하세요</p>
	        </div>
	        
	        <div class="input-group mt-5">
				<input type="text" class="form-control" id="idInput" placeholder="아이디를 입력하세요">
				<button class="btn btn-outline-primary" type="button" id="duplicateBtn">중복확인</button>
			</div>
			<div id="duplicateText" class="small text-danger d-none">중복된 아이디 입니다.</div>
			<div id="availableText" class="small text-success d-none">사용 가능한 아이디 입니다.</div>
			
			
			<input type="password" class="form-control mt-5" id="passwordInput" placeholder="비밀번호">
			<input type="password" class="form-control mt-4" id="passwordConfirmInput" placeholder="비밀번호 확인">
			<input type="text" class="form-control mt-4" id="nameInput" placeholder="성명">
			<input type="text" class="form-control mt-4" id="nicknameInput" placeholder="사용자 전화번호">
	        
	        <button type="button" class="btn btn-primary col-12 mt-4">가입하기</button>
	        

		</div>
	
	
	
	</section>