<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<section layout:fragment="contents" class="contents">


		
		    <!-- 메인 배너 섹션  -->
		    <div class="hero-section">
		        <div class="hero-content">
		            <h1 class="hero-title">나만의 힐링, 특별한 하루</h1>
		            <p class="hero-subtitle">Having to blue</p>
		            
		        </div>
		    </div>
		
		    <!-- 서브 콘텐츠 설명 메뉴 -->
		    <div class="container-fluid py-5 sub-content-menu">
		        <div class="row justify-content-center align-items-center">
		
		            <div class="col-12 col-md-auto d-flex align-items-center px-4 py-2 rounded-pill">
		                <div class="mr-3">
		                    <i class="bi bi-geo-alt-fill"></i>
		                </div>
		                <div class="d-flex flex-column align-items-start">
		                    <small class="text-secondary">도심 속 힐링</small>
		                    <span class="font-weight-normal text-dark">경기권 글램핑</span>
		                </div>
		            </div>
		
		            <div class="col-auto d-none d-md-block"> 
		                <div class="bg-secondary" style="width: 1px; height: 40px; opacity: 0.16;"></div>
		            </div>
		
		            <div class="col-12 col-md-auto d-flex align-items-center px-4 py-2 rounded-pill">
		                <div class="mr-3">
		                    <i class="bi bi-calendar-check-fill"></i>
		                </div>
		                <div class="d-flex flex-column align-items-start">
		                    <small class="text-secondary">럭셔리 캠핑의 시작!</small>
		                    <span class="font-weight-normal text-dark">Having to blue</span>
		                </div>
		            </div>
		
		            <div class="col-auto d-none d-md-block"> <!-- 모바일에서 숨김 -->
		                <div class="bg-secondary" style="width: 1px; height: 40px; opacity: 0.16;"></div>
		            </div>
		
		            <div class="col-12 col-md-auto d-flex align-items-center px-4 py-2 rounded-pill">
		                <div class="mr-3">
		                    <i class="bi bi-people-fill"></i>
		                </div>
		                <div class="d-flex flex-column align-items-start">
		                    <small class="text-secondary">감성적인 공간</small>
		                    <span class="font-weight-normal text-dark">여러 테마 보유</span>
		                </div>
		            </div>
		
		            <div class="col-12 col-md-auto mt-4 mt-md-0 ml-md-5 text-center">
		                <a href="#" class="btn btn-info btn-lg rounded-pill px-5 py-2 shadow-sm d-flex align-items-center justify-content-center mx-auto" >
		                    <div></div>
		                    <span class="text-white font-weight-bold">글램핑 예약하기</span>
		                </a>
		            </div>
		
		        </div>
		    </div>
		
		    <!-- 메인 콘텐츠: 인기 있는 헤빙의 PICK -->
		    <section class="container py-5 pick-section">
		        <div class="text-center mb-5">
		            <h2 class="font-weight-bold">인기 있는 헤빙의 PICK</h2>
		            <p class="text-muted">올 여름 당신이 시원하게 즐길 수 있는 곳</p>
		        </div>
		
		        <div class="row">
		            <div class="col-12 col-md-4 mb-4">
		                <div class="card camping-card">
		                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvNDTcPKB6V0xtiHseiwJEkspRCz3vvfJ_-w&s" alt="캠핑장 이미지 1" class="card-img-top">
		                    <div class="card-body">
		                        <h5 class="card-title">워터블루 글램핑</h5>
		                        <p class="card-text">인생샷 건지기 딱 좋은 예쁜 수영장은 물론, 넓은 공간 까지 갖춰진 워터블루 글램핑!</p>
		                        <a href="#" class="btn btn-outline-primary btn-sm">자세히 보기</a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-12 col-md-4 mb-4">
		                <div class="card camping-card">
		                    <img src="https://mblogthumb-phinf.pstatic.net/MjAyMjAxMDZfMjgz/MDAxNjQxNDQzNDkyOTA3.qYk9cyQty8bMnD78PeEnzP8mWX8O-FA2BINjg7ne0WYg.DHRh-qKTgmDcX0Xksh4iawuosEItu70jJ1ZQV00LyTog.PNG.cjmusul/%EC%B6%A9%EC%A3%BC_%ED%8E%AB%ED%8A%B8%EB%A6%AC%ED%8C%8C%ED%81%AC_%EC%95%A0%EA%B2%AC%EB%8F%99%EB%B0%98_%EA%B8%80%EB%9E%A8%ED%95%91%EC%9E%A5_(2).png?type=w800" alt="캠핑장 이미지 2" class="card-img-top">
		                    <div class="card-body">
		                        <h5 class="card-title">펫밀리 애견글램핑</h5>
		                        <p class="card-text">내 반려동물과 함께 자유로운 공간에서 편히 뛰어놀고 쉬게 가능한 글램핑!</p>
		                        <a href="#" class="btn btn-outline-primary btn-sm">자세히 보기</a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-12 col-md-4 mb-4">
		                <div class="card camping-card">
		                    <img src="https://image.fnnews.com/resource/media/image/2013/07/15/201307150326592997_l.jpg" alt="캠핑장 이미지 3" class="card-img-top">
		                    <div class="card-body">
		                        <h5 class="card-title">포레스트 글램핑</h5>
		                        <p class="card-text">숲속에서 즐길 수 있는 글램핑! 자연과 한 몸이 되어 힐링하고 가세요!</p>
		                        <a href="#" class="btn btn-outline-primary btn-sm">자세히 보기</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		
		    <!-- 이벤트 바 -->
		    <div class="container text-center event-banner">
		        <div class="text-white font-weight-bold mb-4" style="font-size: 2.2rem;">
		            HAVING TO BLUE : 푸른 자연 속 힐링
		        </div>
		        <button type="button" class="btn btn-custom">자세히 보기</button>
		    </div>
		

	</section>
	
	<script layout:fragment="script">
	
	

			
			$("#loginForm").on("submit", function(e){
				// form 태그의 원래 기능을 지워야한다.
				e.preventDefault();
				
				let id = $("#logidInput").val();
				let password = $("#loginpasswordInput").val();
				
				if(id == "") {
					alert("아이디를 입력하세요");
					return;
				}
				
				if(password == "") {
					alert("비밀번호를 입력하세요.");
					return;
				}
				
				$.ajax({
					type:"post"
					, url:"/user/login"
					, data:{"loginId":id, "password":password}
					, success:function(response) {
						if(response.result == "success") {
	
							location.href = "/main/view"
						} else {
							alert("아이디, 비밀번호를 확인해주세요!");
						}
					}
					, error:function() {
						alert("로그인 에러 발생!");
					}
				})
			
			})

		

			
			$("#adminLoginForm").on("submit", function(e){
				// form 태그의 원래 기능을 지워야한다.
				e.preventDefault();
				
				let id = $("#adminLogidInput").val();
				let password = $("#adminLoginpasswordInput").val();
				
				if(id == "") {
					alert("아이디를 입력하세요");
					return;
				}
				
				if(password == "") {
					alert("비밀번호를 입력하세요.");
					return;
				}
				
				$.ajax({
					type:"post"
					, url:"/admin/login"
					, data:{"loginId":id, "password":password}
					, success:function(response) {
						if(response.result == "success") {

							location.href = "/admin/main/view"
						} else {
							alert("아이디, 비밀번호를 확인해주세요!");
						}
					}
					, error:function() {
						alert("로그인 에러 발생!");
					}
				})
			
			})
		
		
		
		
	
	</script>


</html>