<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<section layout:fragment="contents" class="contents p-5 mb-5">
	
		<div class="container py-5 pick-section">
		
	        <div class="text-center mb-5">
	            <h1 class="font-weight-bold">회원가입</h1>
	            <p class="text-muted">올 여름 당신이 시원하게 즐길 수 있는 곳</p>
	        </div>
	        
	        <div class="input-group mt-5">
				<input type="text" class="form-control" id="idInput" placeholder="아이디를 입력하세요">
				<button class="btn btn-outline-primary" type="button" id="duplicateBtn">중복확인</button>
			</div>
			<div id="duplicateText" class="small text-danger d-none">중복된 아이디 입니다.</div>
			<div id="availableText" class="small text-success d-none">사용 가능한 아이디 입니다.</div>
			
			
			<input type="password" class="form-control mt-4" id="passwordInput" placeholder="비밀번호">
			<input type="password" class="form-control mt-4" id="passwordConfirmInput" placeholder="비밀번호 확인">
			<input type="text" class="form-control mt-4" id="nameInput" placeholder="성명">
			<input type="text" class="form-control mt-4" id="phoneNumberInput" placeholder="사용자 전화번호">
	        
	        <button type="button" class="btn btn-primary col-12 mt-4" id="joinBtn">가입하기</button>
	        

		</div>
	
	
	
	</section>
	
	
	<script layout:fragment="script">
	
	
		// 전역변수 활용 . 정보공유
		// 중복확인 여부 관리 변수
		var checkDuplicate = false;
		
		// 아이디 중복 여부 관리 변수
		var isDuplicateId = true;
	

		$("#idInput").on("input", function(){
			checkDuplicate = false;
			isDuplicateId = true;
			
			$("#duplicateText").addClass("d-none");
			$("#availableText").addClass("d-none");
			
		})
	
	
	
	
		$("#duplicateBtn").on("click", function(){
			let id = $("#idInput").val().trim();
			
			if(id == "") {
				alert("아이디를 입력해주세요.!!!");
				return;
			}
			
			$.ajax({
				type:"get"
				, url:"/user/duplicate-id"
				, data:{"loginId":id}
				, success:function(response) {
					checkDuplicate = true;
					
					isDuplicateId = response.result;
					
					if(response.result) {
						// 중복됨
						$("#duplicateText").removeClass("d-none");
						$("#availableText").addClass("d-none");
					} else {
						// 중복안됨
						$("#availableText").removeClass("d-none");
						$("#duplicateText").addClass("d-none");
					}					
					
					
				}
				, error:function(){
					alert("중복확인 에러!");
				}
			})
			
			
			
		})
	
	
	
	
		
	
		$("#joinBtn").on("click", function(){
			
			let id = $("#idInput").val().trim();
			let password = $("#passwordInput").val();
			let passwordConfirmInput = $("#passwordConfirmInput").val();
			let name = $("#nameInput").val();
			let phoneNumber = $("#phoneNumberInput").val();
			
			
			if(id == "") {
				alert("아이디를 입력하세요.");
				return;
			}
			
			
			// 아이디 중복 확인
			if(!checkDuplicate) {
				//중복확인을 안했으면 
				alert("아이디 중복확인을 해주세요.");
				return;
			}
			
			// 아이디 중복 여부 파악
			if(isDuplicateId) {
				alert("아이디가 중복되었습니다");
				return;
			}
			

			if(password == "") {
				alert("비밀번호를 입력하세요.");
				return;
			}
			
			
			if(password != passwordConfirmInput) {
				alert("비밀번호가 일치하지 않습니다.");
				return;
			}
			
			if(name == "") {
				alert("이름을 입력해주세요.");
				return;
			}
			
			if(phoneNumber == "") {
				alert("전화번호를 입력해주세요.");
				return;
			}
			
			
			$.ajax({
				type:"post"
				, url:"/user/join"
				, data:{"loginId":id, "password":password, "name":name, "phoneNumber":phoneNumber}
				, success:function(response){
					if(response.result == "success") {
						location.href = "/main/view";
					} else {
						alert("회원가입 실패!");
					}
					
					
				}
				, error:function() {
					alert("회원가입 중 에러 발생!");
				}
			})
			
			
			
			
			
		})
	
	
	
	
	</script>
	
	