    <footer class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="text-white mb-3">Having to blue</h5>
                    <p class="text-muted">자연 속에서 진정한 힐링을 경험하세요.</p>
                    <ul class="list-unstyled d-flex mt-3">
                        <li class="mr-3"><a href="#" class="text-white"><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a></li>
                        <li class="mr-3"><a href="#" class="text-white"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a></li>
                        <li class="mr-3"><a href="#" class="text-white"><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="text-white mb-3">사이트맵</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Glamping</a></li>
                        <li><a href="#">Reserve</a></li>
                        <li><a href="#">Review</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="text-white mb-3">연락처</h5>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-geo-alt-fill mr-2"></i> 경기도 가평군 테스트 무동 1004</li>
                        <li><i class="bi bi-telephone-fill mr-2"></i> 02-1234-5678</li>
                        <li><i class="bi bi-envelope-fill mr-2"></i> info@havingtoblue.com</li>
                    </ul>
                </div>
            </div>
            <hr class="bg-secondary my-4">
            <div class="text-center text-muted">
                &copy; 2025 Having to blue. All rights reserved.
            </div>
        </div>
    </footer>