  <!-- 메인 상단 콘텐츠  -->
    <header class="d-flex align-items-center justify-content-between px-md-5">
        <span class="main-font ml-3 ml-md-5"><a href="/main/view">Having to blue</a></span>

        <div class="font-weight-bold mr-5 col-5"> <!-- d-none d-md-block 데스크톱에서만 보이는 네비게이션 -->
            <ul class="nav nav-fill">
                <li class="nav-item"><a href="/main/view" class="nav-link mt-1 mx-2">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link mt-1 mx-2">Glamping</a></li>
                <li class="nav-item"><a href="#" class="nav-link mt-1 mx-2">Reserve</a></li>
                <li class="nav-item"><a href="#" class="nav-link mt-1 mx-2">Review</a></li>
            </ul>
        </div>

		<div class="header-icons mr-3 mr-md-4 small d-flex align-items-center">
		    <i class="bi bi-search mr-3"></i>
		
		    <div th:if="${session.userId != null}" class="d-flex align-items-center">
		        <span th:text="${session.userName}" class="mr-2"></span> <a href="/user/logout" class="mr-2 ml-2" id="logoutText">로그아웃</a>
		    </div>
		
		    <div th:unless="${session.userId != null}" class="d-flex align-items-center">
		        <span class="mr-2 ml-2" data-toggle="modal" data-target="#loginModal" id="loginText">로그인</span>
		    </div>
		    
		    <i class="bi bi-chevron-compact-down"></i>
		</div>
		
		<div class="modal fade text-center" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-centered" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h3 class="modal-titl" id="exampleModalLongTitle">로그인</h3>
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		            <form id="loginForm">
		                <div class="modal-body">
		                    <h3 style="font-family: 'Georgia', serif;" class="mt-3">Welcome</h3>
		                    <input type="text" class="form-control mt-4" placeholder="아이디를 입력하세요" id="logidInput">
		                    <input type="password" class="form-control mt-3" placeholder="비밀번호를 입력하세요" id="loginpasswordInput">
		                    <button type="submit" class="btn btn-primary mt-3 col-12" id="loginBtn">로그인</button>
		                </div>
		            </form>
		            <form id="adminLoginForm">
		                <div class="modal-body">
		                    <input type="text" class="form-control mt-4" placeholder="아이디를 입력하세요" id="adminLogidInput">
		                    <input type="password" class="form-control mt-3" placeholder="비밀번호를 입력하세요" id="adminLoginpasswordInput">
		                    <button type="submit" class="btn btn-success mt-3 col-12 mb-5" id="adminLoginBtn">관리자 로그인</button>
		                </div>
		            </form>
		            <div class="modal-footer d-flex justify-content-between mt-2">
		                <span><a href="/user/join">회원가입</a></span>
		                <span><a href="/admin/join">관리자가입</a></span>
		            </div>
		        </div>
		    </div>
		</div>

    </header>
